@model Web.Models.ViewModels.Comments.CommentViewModel

<div class="panel panel-default">
    <div class="panel-body">
        <p>@Model.Content</p>
        <p class="pull-right"><small>@Model.Created</small></p>
    </div>
</div>
