@model Web.Models.ViewModels.Comments.CommentViewModel

<a style="color: inherit" href="@Url.Action("Details", "Wishes", new { id = Model.WishId })">
    <div class="panel panel-default">
        <div class="panel-body">
            <p>@Model.Content</p>
            <p class="pull-right"><small>@Model.Created</small></p>
        </div>
    </div>
</a>