@model IEnumerable<Web.Models.ViewModels.Wishes.WishViewModel>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Najnowsze wpisy</h3>
    </div>
    <div class="panel-body">
        @foreach(var wish in Model)
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    @wish.Content
                </div>
            </div>
        }
    </div>
</div>
