@model Web.Models.ViewModels.Wishes.WishViewModel

@{
    ViewBag.Title = "Szczegóły";
}

<br />
<div class="container">
    <div class="panel panel-default">
        <div class="text-center">
            <h2>@Model.Content</h2>
            <p><small>@Model.Creator, @Model.Created</small></p>
        </div>
        <div class="panel-body">
            <!-- Komentarze -->
        </div>
    </div>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id })*@
    @Html.ActionLink("Powrót do listy", "Index")
</p>
