@using Web.Helpers
@model IEnumerable<Web.Models.ViewModels.Wishes.WishViewModel>

@{
    ViewBag.Title = "Życzenia";
}

<h2>Zyczenia</h2>

<p>
    @Html.ActionLink("Dodaj nowe", "Create").If(User.Identity.IsAuthenticated)
</p>

<div class="panel panel-default">
    <div class="panel-body">
        @foreach (var wish in Model.OrderByDescending(wish => wish.Created))
        {
            <div class="col-md-4">
                @Html.Partial("Partials/_WishPartial", wish)
            </div>
        }
    </div>
</div>
