@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron">
    <h1>Projekt DOT</h1>
    <p class="lead">Jest to aplikacja internetowa pozwalająca zalogowanym użytkownikom dodawać swoje życzenia oraz komentować wpisy innych.<br />
    Strona operata jest o <b>ASP.NET MVC</b>. <br />
    Połączenie z bazą danych realizowane jest za pomocą <b>EF</b> w podejściu Code First.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Najnowsze wpisy</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <h2>Najnowsze komentarze</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>