@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Zamknięto";
}

<hgroup>
    <h1 class="text-danger">Zamknięto.</h1>
    <h2 class="text-danger">To konto zostało zamknięte, spróbuj ponownie później.</h2>
</hgroup>
